<!DOCTYPE html>
<html>

<head>
  <title>About Me </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include("partials/_header") %>
    &nbsp;
    &nbsp;

    <div class="container">
      <img class="profilePic" src="/images/profile-Pic.jpg" alt="Eman" class="picture">

      <h1>About Me</h1>
      <p> Hello, </p>
      <p>I'm Eman Alkhatib. I'm 28 years old. I used to be a Makeup Artist, and I also used to work as a medical office
        assistant at Thompson Medical Centre as well as </p>
      <p>I had a bachelor degree in Information Technogy and computing. I recently joined Centennial college and this is
        my first semester in Software Engineering Technician Program.</p>
      <p>I'm married to the love of my life and I have two kids, and they make my life full of joy and happiness...</p>
      <p> you can check my resume out !!</p>

      <a href="/file/Eman_resume.pdf" class="btn btn-light mt-4" download> Click Here To Download Resume</a>
    </div>
    </div>

</body>
<%- include("partials/_footer")%>

</html>