<!DOCTYPE html>
<html>

<head>

  <title>Home - My Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <%- include("partials/_header")%>
  <div class="container">
    <div class="content">


          <div class="welcome-message">
              <h1>Welcome to My Portfolio</h1>
            </div>

                <h2>My mission statment : </h2>
                <p>Happy to help others improving their skills. I'm looking to learn more about programming languages and
                  be professinal one day!! </p>
                <p> Thank you for visiting my portfolio website. Feel free to reach out via the
                  provided contact details. </p>
              </div>

  
</body>
<%- include("partials/_footer")%>
</html>