<!DOCTYPE html>
<html>

<head>
  <title>Projects - My Portfolio</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <%- include("partials/_header") %>
    &nbsp;
    &nbsp;

    <div class="project-main">
    </div>
    <div class="myProjects">
      <div class="project1">
        <h1>My Projects</h1>

        <img class="aouPic" src="/images/aou.png" alt="aouProject">

        <p>AOU Chat </p>
        <p>“ AOUchat “ is a website for the students and tutors of Arab Open University that allow them to get free
          accounts.</p>
        <p>This website will help them to communicate with each other and get free accounts in the system.
        <p> My role was to design the website using CSS.</p>

        <img class="phasePic" src="/images/phase.png" alt="phase Project">

        <p>Phase Graphics Website</p>
        <p>It's a website that my husband and I created together to support his buiseness using GoDaddy.</p>
        <p> I mainly was responsible for designing the website using online tools.</p>
        <div class="makeupPic">
          <img class="makeupPic" src="/images/makeup.png" alt="makeup Project">
        </div>
          <p>E_makeup page</p>
          <p>An instagram page that supported my makeup artistry job in the past.</p>
          <p>My role was to post news, offers, and photos of my work.</p>
        </div>
</body>
<%- include("partials/_footer")%>

</html>