<!DOCTYPE html>
<html>

<head>
  <title> Services </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Young+Serif&display=swap"
    rel="stylesheet">
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include("partials/_header") %>

  <div class="container">
  </div>
  <div class="myServices">
    <div style="position:relative; right:-auto;">
      <h1>Services</h1>
      <p>What I offer?</p>
      <p> Front-end and Back-end Web Development </p>
      <p>Programming: using several programming languages like JAVA, C#, PYTHON, etc..</p>
    </div>
</body>
<%- include("partials/_footer")%>

</html>